name: Check build logic

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-build-logic:
    name: Check build logic
    runs-on: ubuntu-latest
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Clean runner
        uses: ./actions/clean-runner-fast

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Lint build logic documentation
        shell: bash
        run: |
          cd buildLogic
          ./scripts/lintBuildLogicDocs.sh .

      - name: Lint build logic
        run: |
          cd buildLogic
          ./gradlew \
            :plugins:detekt \
            :plugins:ktlintCheck

      - name: Test build logic
        run: |
          cd buildLogic
          ./gradlew test

      - name: Upload coverage reports
        uses: ./actions/upload-coverage-reports
        with:
          artifact-name: build-logic-unit-test-coverage

  sonar-scan:
    name: Scan with Sonar
    runs-on: ubuntu-latest
    needs:
      - check-build-logic
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Download build logic unit test coverage reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: build-logic-unit-test-coverage

      - name: Sonar scan
        uses: ./actions/sonar-scan
        with:
          pipelines-directory: ..
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          working-directory: ./buildLogic
