name: Check scripts

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-scripts:
    name: Check scripts
    runs-on: ubuntu-latest
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Lint scripts
        run: |
          # Lint all files in the .sh folder / sub-folders
          find ./scripts -type f -exec shellcheck {} +
