name: Verify commits

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify-commits:
    name: Verify commits
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout codebase'
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Verify Conventional commit standards against latest git tag
      uses: ./actions/verify-conventional-commit