name: Check test project

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Clean runner
        uses: ./actions/clean-runner-fast

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Check
        run: |
          cd test-project
          ./gradlew check

      - name: Upload coverage reports
        uses: ./actions/upload-coverage-reports
        with:
          artifact-name: test-project-unit-test-coverage

  instrumentation-test:
    name: Instrumentation test
    runs-on: ubuntu-latest
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Clean runner
        uses: ./actions/clean-runner-fast

      - name: Setup runner
        uses: ./actions/setup-runner
        with:
          jdk-version: 21

      - name: Run test project instrumentation tests
        run: |
          cd test-project
          ./gradlew allDevicesCheck

      - name: Upload coverage reports
        uses: ./actions/upload-coverage-reports
        with:
          artifact-name: test-project-instrumentation-test-coverage

  sonar-scan:
    name: Scan with Sonar
    runs-on: ubuntu-latest
    needs:
      - unit-test
      - instrumentation-test
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Clean runner
        uses: ./actions/clean-runner-fast

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Download unit test coverage reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: test-project-unit-test-coverage

      - name: Download instrumentation test coverage reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: test-project-instrumentation-test-coverage

      - name: Bundle reports folder
        uses: ./actions/bundle-reports

      - name: Sonar scan
        uses: ./actions/sonar-scan
        with:
          pipelines-directory: ..
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          working-directory: ./test-project
