name: Check deploy test project

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-deploy-test-library:
    name: Build the test library and publish it locally
    runs-on: ubuntu-latest
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      contents: read
      packages: read
    steps:
      - name: 'Checkout codebase'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Increment the pre-release version using Conventional Commits
        id: versioning-alpha
        uses: ./actions/increment-version
        with:
          pre-release-type: alpha

      - name: Increment the stable version using Conventional Commits
        id: versioning
        uses: ./actions/increment-version

      - name: Show increment-version outputs
        run: |
          echo "Current version is $CURRENT_VERSION"
          echo "New version is $NEW_VERSION"
        shell: bash
        env:
          CURRENT_VERSION: ${{ steps.versioning.outputs.current_version }}
          NEW_VERSION: ${{ steps.versioning.outputs.new_version }}

      - name: Generate Changelog
        uses: ./actions/generate-and-upload-changelog
        with:
          current-version: ${{ steps.versioning.outputs.current_version }}
          new-version: ${{ steps.versioning.outputs.new_version }}

      - name: Publish alpha version locally (manual versioning from step output)
        uses: ./actions/maven-publish-local
        with:
          working-directory: 'test-project'
          pipelines-directory: .
          expected-packages: '
            uk.gov.pipelines:android-module,
            uk.gov.pipelines:pure-kotlin-module'
          version-name: ${{ steps.versioning-alpha.outputs.new_version }}

      - name: Publish locally (automatic versioning from Git tag)
        uses: ./actions/maven-publish-local
        with:
          working-directory: 'test-project'
          pipelines-directory: .
          expected-packages: '
            uk.gov.pipelines:android-module,
            uk.gov.pipelines:pure-kotlin-module'

      - name: Clean workspace
        uses: ./actions/clean-workspace
        with:
          pipelines-directory: .

  check-deploy-test-app:
    name: Build the test app and upload to Google Play Store
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codebase'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Retrieve GitHub secrets
        id: retrieve-secrets
        uses: ./actions/retrieve-secrets
        with:
          keystore-base64: ${{ secrets.KEYSTORE_BASE64 }}
          google-service-account-json-base64: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON_BASE64 }}
          working-directory: test-project

      - name: Generate version code
        id: generate-version-code
        uses: ./actions/generate-version-code

      - name: Build app bundle
        id: bundle-release-app
        uses: ./actions/bundle-release-app
        with:
          keystore-file-path: ${{ steps.retrieve-secrets.outputs.keystore-file-path }}
          keystore-password: ${{ secrets.KEYSTORE_PASSWORD }}
          keystore-key-alias: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          keystore-key-password: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          modules: 'test-app'
          pipelines-directory: ../
          version-code: ${{ steps.generate-version-code.outputs.version-code }}
          working-directory: test-project

      - name: Publish to Play Store
        uses: ./actions/publish-to-play-store
        with:
          aab-paths: ${{ steps.bundle-release-app.outputs.aab-paths }}
          package-name: 'uk.gov.pipelines.testapp'
          google-service-account-json: ${{ steps.retrieve-secrets.outputs.google-service-account-json-file-path }}
          track: 'internal'
          working-directory: test-project

      - name: Clean workspace
        uses: ./actions/clean-workspace
        with:
          pipelines-directory: ../
          working-directory: test-project
