name: Deploy release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-release:
    name: Deploy release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout codebase
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Clean runner
        uses: ./actions/clean-runner-fast

      - name: Setup runner
        uses: ./actions/common-prerequisites

      - name: Increment the release version using Conventional Commits
        id: versioning
        uses: ./actions/increment-version

      - name: Publish release tags
        if: ${{ steps.versioning.outputs.current_version != steps.versioning.outputs.new_version }}
        uses: ./actions/publish-release-tag

      - name: Generate Changelog
        uses: ./actions/generate-and-upload-changelog
        with:
          current-version: ${{ steps.versioning.outputs.current_version }}
          new-version: ${{ steps.versioning.outputs.new_version }}

      - name: Clean workspace
        uses: ./actions/clean-workspace
        with: 
          pipelines-directory: .
