name: Check build logic

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  gradlew-check:
    name: Set-up runner and check gradlew wrapper jar is verified
    runs-on: ubuntu-latest
    steps:

      - name: 'Checkout codebase'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Clean runner
        uses: ./actions/clean-runner-fast

      - name: Setup runner
        uses: ./actions/setup-runner
